#sidebar {
    transition: 500ms;
    background: linear-gradient(174.14deg, #030303 -1.02%, #414141 66.87%, #5C5C5C 100%);
    color: white;
    width: 300px;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
}

#sidebar-mobile {
    display: none;
    background-image: linear-gradient(to bottom right,#2C383D,#181E22) !important;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    position: absolute;
}

#sidebar.sidebar-toggle{
    transition: 500ms;
    background: linear-gradient(174.14deg, #030303 -1.02%, #414141 66.87%, #5C5C5C 100%);
    color: white;
    width: 55px;
    height: 100vh;
    display: inline-block;
    overflow: visible;
}

#icon-menu-mobile{
    cursor: pointer;
    margin-left: 15px;
    margin-top: 5px;
}

#icon-menu{
    cursor: pointer;
    margin-left: 15px;
    margin-top: 5px;
}

#title-site-mobile{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color:#00aaff;
    font-size: 30px;
    font-weight: bold;
}

#title-site {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color:#00aaff;
    font-size: 30px;
    font-weight: bold;
}

#title-site img{
    width: 180px;
}

#title-site.closed {
    visibility: hidden;
}

#div-btn-menu {
    margin-top: 10px;   
}


#buttons-closed {
    display: none;
}

#buttons-closed.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-list{
    height: 75%;
    overflow: auto;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    padding-left:0;
}

.menu-list::-webkit-scrollbar{
    width: 4px;
}

.menu-list::-webkit-scrollbar-thumb{
    background-color: rgb(155, 34, 34); 
    border-radius: 50px;
}

.menu-list-mobile{
    height: 75%;
    overflow: auto;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    padding-left:0;
}

.menu-list-mobile::-webkit-scrollbar{
    width: 4px;
}

.menu-list-mobile::-webkit-scrollbar-thumb{
    background-color: white; 
    border-radius: 50px;
}

.menu-list.closed{
    display: none;
}

.button-menu{
    overflow: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1A2326;
    height: 40px;
    text-decoration: none;
    color: white;
    text-align: left;
    width: 100%;
    line-height: 37px;
}

.button-menu:hover{
    border-left: 3px solid #00aaff;
    font-weight: bold;
    background: linear-gradient(174.14deg, #030303 -1.02%, #414141 66.87%, #5C5C5C 100%);
}

.button-menu i{
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
}

#icon-menu{
    cursor: pointer;
    margin-left: 15px;
    margin-top: 5px;
}

.item-menu.showMenu .submenu-list {
    display: block;
}

.item-menu.showMenu i {
    display: inline;
}

.title-btn-menu-p{
    display: inline-block;
    margin-left: 5px;
}

.title-btn-menu{
    display: inline-block;
    text-decoration: none;
    color: white;
}

.title-btn-menu-p{
    display: inline-block;
    margin-left: 5px;
}

.bx.bxs-chevron-down {
    display: none;
    margin-top: 12px;
    margin-right: 15px;
    float: right;
}

.submenu-list {
    padding-left: 0;
    display: none;
    list-style-type: none;
}

.submenu-list-li a {
    text-decoration: none;
    color: white;
}

.submenu-list-li{
    white-space: nowrap;
    cursor: pointer;
    font-size: 10px;
    padding-left: 35px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1A2326;
    height: 30px;
    text-decoration: none;
    color: white;
    text-align: left;
    width: 100%;
    line-height: 30px;
}

.submenu-list-li:hover{
    border-left: 3px solid #00aaff;
    font-weight: bold;
    background: linear-gradient(174.14deg, #030303 -1.02%, #414141 66.87%, #5C5C5C 100%);
}

.dropdown-menu li {
    cursor: pointer;
}

.btn-group.dropend{
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 40px;
}

.btn-group.dropend:hover{
    border-left: 3px solid #00aaff;
    background-image: linear-gradient(to right,#181E22,#181E22,#2C383D) !important;
}

.btn-group.dropend .dropdown-menu{
    background-image: linear-gradient(to bottom right,#2C383D,#181E22) !important;
    overflow: auto;
    max-height: 40vh;
}

.btn-group.dropend .dropdown-menu::-webkit-scrollbar{
    width: 4px;
}

.btn-group.dropend .dropdown-menu::-webkit-scrollbar-thumb {   
    background-color: white;
    border-radius: 50px;
}

.btn-group.dropend .dropdown-menu li a{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-group.dropend .dropdown-menu li a:hover{   
    background-image: linear-gradient(to right,#245dfa,#002281) !important;
}

.btn-group.dropend button{
    border: none;
    border-radius: 0px;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    border-bottom: 1px solid #1A2326;
    cursor: pointer;
    color: white;
}


/** Barra de navegação **/

#navbar {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(105, 105, 105, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
}

#content-body {
    display: inline-block;
    width: 100%;
    height: 100vh;
}

#toggle-btn-mob{
    height: 60px;
    width: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    float: left;
}

#toggle-btn-mob button{
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #2C383D;
}

.wda-logo {
    margin: 0px;
    font-weight: bold;
    color: #00aaff;
    font-size: 25px;
    margin-left: 10px;
    line-height: 25px;
    height: 60px;
}

#user-circle {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 15px;
}

#user-circle button{
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    background-color:  #1E6EAA;
    ;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

/** Header **/

#body {
    width: 100%;
    height: 90%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

body{
    user-select: none;
}

#wda-body {
    width: 95%;
    height: 90%;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
    overflow-y: auto;
    overflow-x: hidden;
}

#wda-body::-webkit-scrollbar {
    width: 10px;
}

#wda-body::-webkit-scrollbar-thumb {
    background-color: #00aaff;
    border-radius: 20px;
    border: 3px solid white;
}

#title-wda {
    font-weight: bold;
    font-size: 28px;
    margin-top: 10px;
    margin-left: 2%;
    margin-bottom: 0px;
}

.header-wda{
    width: 97%;
    height: 180px;
    margin-top: 2%;
    margin-left: 2%;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
    overflow: hidden; 
}

.title{
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    position: relative;
    left: 10px;
    font-weight: inter;
}

.grid-wda{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.grid-wda-cell {
    min-height: 100px;
    height: auto;
    padding: 15px;
}

.grid-wda-item {
    display: flex;
    padding: 10px;
    min-height: 90px;
    box-shadow: 0px 3px 5px rgba(10, 5, 5, 0.2);
    height: 80px;
    width: 100%;
}

.grid-wda-item .number{
    margin: 0;
    position: relative;
    top: -4px;
    right: 2px;
    font-size: 56px;
    color: gray;
    font-weight: bold;
   
}

.grid-wda-item .text{
    margin: 0;
    position: relative;
    top: 20px;
    font-size: 11px;
    word-break: break-all;
    width: 100%;
}

.containert {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Uma única coluna ocupando todo o espaço */
    grid-gap: 10px; /* Espaçamento entre as divs */
    height: 70vh; /* Altura total da janela */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 0 20px; /* Espaçamento interno esquerdo e direito de 20px */
    
  }

.left-div {
    box-shadow: 0px 3px 5px rgba(10, 5, 5, 0.2);
    width: 105%;
    max-width: 600px; /* Largura máxima de 600px */
    height: 425px;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

.right-div {
    display: grid;
    grid-template-rows: 1fr 1fr; /* Duas linhas com altura flexível */
    grid-gap: 10px; /* Espaçamento entre as divs */
    align-items: center; /* Centraliza verticalmente */
    position: relative;
    left: 25px;
    bottom: 3px;
  }

.right-div-top {
    box-shadow: 0px 3px 5px rgba(10, 5, 5, 0.2);
    width: 97%;
    height: 150px;
  }

.right-div-bottom {
    box-shadow: 0px 3px 5px rgba(10, 5, 5, 0.2);
    padding: 10px;
    width: 97%;
    height: 250px;
    position: relative;
    bottom: 40px;
  }

.table {
    width: 100%;
    text-align: center;
    font-size: 13px;
    border-collapse: collapse;
    border: 1px solid rgb(222, 222, 222);
    table-layout: auto;
    position: relative;
    bottom: 10px;
}

.table>thead {
    vertical-align: bottom;
}

.table thead{
    background-color: #5D5D5D;
    color: white;
}

.table th {
    padding: 8px;
}

.n{
    font-size: 14px;
}

.right-div-top img{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 10px;
}

.azul{
    background-color: #1E6EAA;
    position: relative;
    bottom: 10px;
    padding: 15px;
    height: 90px;
    margin: 5px;
}

.azul p{
    font-weight: 400;
    font-size: 16px;
    color: white;
}


  @media (max-width: 1265px) {
    /* Alterações para telas menores */
    .containert {
      grid-template-columns: repeat(1, 1fr);
      padding: 0; /* Remover o espaçamento interno */
      height: auto; /* Altura automática */
    }

    .left-div {
      max-width: none; /* Remover a largura máxima */
      height: 100%; /* Altura automática */
    }

    .right-div {
      grid-template-rows: auto auto; /* Altura automática para as linhas */
    }

    .right-div-top, .right-div-bottom {
      width: 100%; /* Largura total */
      height: 100%;
      position: relative;
      right: 30px;
    }

    .right-div-bottom{
        position: relative;
        top: 15px;
    }
    
    .right-div-top img{
        width: 400px;
    }
  }

@media screen and (max-width: 1230px) {
    .grid-wda{
        grid-template-columns: repeat(2, 1fr);
    }

    .header-wda{
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .grid-wda{
        grid-template-columns: repeat(1, 1fr);
    }

    .header-wda{
        height: 550px;
    }

    #title-wda{
        margin-left: 5%;
    }

    .containert{
        margin-top: 20px;
        margin-left: 15px;
    }

    .right-div-top img{
        width: 305px;
    }

    #toggle-btn-mob{
        display: flex;
    }

    #sidebar-mobile.open{
        display: block;
    }
    #sidebar{
        display: none;
    }
    #sidebar.sidebar-toggle{
        display: none;
    }
    
    .left-div{
        width: 99%;
    }

    table thead {
        display: none;
    }

    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
        margin-bottom: 20px;
    }

    table td {
        display: block;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}